/* common style */
* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
}
html {
  /* 10px / 16px = .625 * 100  */
  font-size: 62.5%;
}

body {
  background-color: #f0f8fd;
}
/* end of common style */

/* main page */
.main-page {
  width: 100%;
  height: 100vh;
  /* display: grid; */
  display: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr min-content;
}
/* left page */
.left {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: rgb(29 155 240);
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-content div {
  display: flex;
  margin: 4rem;
  color: white;
}

.left-content i {
  font-size: 2rem;
  margin-right: 2rem;
}

.left-content-heading {
  font-size: 2rem;
}
/* end left page */

/* righ page */
.right {
  /* display: grid; */
  grid-column: 2 /-1;
  grid-row: 1 /2;
  position: relative;
}
.user-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  position: relative;
}
.user-details label {
  position: absolute;
  top: 4rem;
  left: 50%;
  color: #a7a6a7;
  font-size: 1.2rem;
}

.user-details input {
  width: 15rem;
  height: 3rem;
  color: rgb(29 155 240);
  padding: 0 2rem;
  margin-right: 1rem;
  border: 0.2rem solid #ddd;
  transition: all 0.5s 0s ease;
  border-radius: 0.5rem;
}
.user-details input::placeholder {
  color: rgb(29 155 240);
}
.user-details input:focus {
  /* background-color: #d9ebf7; */
  outline: none;
  border: 0.2rem solid rgb(29 155 240);
  scale: 105%;
}
.user-details input:hover {
  /* background-color: #d9ebf7; */
  outline: none;
  border: 0.2rem solid rgb(29 155 240);
  scale: 105%;
}
.btn-top {
  height: 3rem;
  width: 6rem;
  font-size: 13px;
  background-color: white;
  color: rgb(29 155 240);
  border: 0.2rem solid rgb(29 155 240);
  border-radius: 3rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-top:hover {
  background-color: #d9ebf7;
  scale: 105%;
}

.right-middle-main {
  position: absolute;
  /* to middle the content */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  /* to display column */
  flex-direction: column;
}
.right-middle-main i {
  font-size: 4rem;
  color: rgb(29 155 240);
  padding-bottom: 1rem;
}
.right-middle-main h1 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
.right-middle-main h4 {
  font-size: 1.4rem;
  padding-bottom: 1.5rem;
}
#btn-signup {
  font-size: 1.5rem;
  width: 30rem;
  margin-bottom: 0.1rem;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  background-color: rgb(29 155 240);
  color: white;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
#btn-signup:hover {
  background-color: rgb(89, 89, 153);
  scale: 105%;
}
#btn-login {
  font-size: 1.4rem;
  margin-top: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background-color: white;
  border: 0.1rem solid rgb(29 155 240);
  border-radius: 5rem;
  cursor: pointer;
  transform: backgroud-color 0.3s;
}
#btn-login:hover {
  background-color: #ddd;
  scale: 105%;
}
/* end of right page */
/* footer  */
.main-page-footer {
  grid-row: 2/-1;
  grid-column: 01/-1;
  background-color: #f5f4f4;
  border-top: 0.1rem solid #ddd;
  padding: 1rem;
}
.main-page-footer ul {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  list-style: none;
}
.main-page-footer a {
  text-decoration: none;
  margin: 2rem;
  font-size: 1.3rem;
  color: #444;
  font-weight: 300;
}
/* *end of footer */

/* *end of main page */

/* *log in page */
.login-page {
  width: 100%;
  height: 100vh;
  display: none;
  /* todo: to not display the log in page*/
  /* display: grid; */
  grid-template-columns: minmax(5rem, 1fr) 2fr minmax(5rem, 1fr);
  grid-template-rows: repeat(2, min-content) 1fr;
  grid-gap: 1.5rem;
}

/* log in page nav */
.login-page-nav {
  grid-row: 1/2;
  grid-column: 1/-1;
  padding: 2rem;
  background-color: #ffff;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
}
.login-page-nav ul {
  width: 80rem;
  margin: auto;
  display: flex;
  align-items: flex-end;
  list-style: none;
}
.login-page-nav li {
  margin: 0 1rem;
  position: relative;
}
.login-page-nav li:last-child {
  margin-left: auto;
}

.login-page-nav li::after {
  content: "";
  background-color: rgb(29 155 240);
  width: 100%;
  height: 0.4rem;
  position: absolute;
  bottom: -2.3rem;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
}

.login-page-nav li:hover::after {
  opacity: 1;
}

.login-page-nav a {
  color: #444;
  font-size: 1.4rem;
  text-decoration: none;
  transition: 0.3s;
}

.login-page-nav li:hover a {
  color: rgb(29 155 240);
}
.login-page-nav i {
  color: rgb(29 155 240);
  font-size: 1.6rem;
}

/* end of login page nav */

/* log in page content */
.login-page-content {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: #ffff;
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 8rem 13rem 7rem;
  box-shadow: 0 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
}

.login-page-content h1 {
  font-size: 2rem;
  font-weight: bold;
  grid-row: 1/-1;
  grid-column: 2/-1;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
/* end of login page content */
/* log in page form */
.login-page-form {
  grid-row: 2/-1;
  grid-column: 2/3;
}

.login-page-form input:not(.login-page-checkbox) {
  display: flex;
  flex-direction: column;
  width: 23rem;
  height: 2.7rem;
  margin-bottom: 1rem;
  padding: 0 2rem;
  font-size: 1.3rem;
  color: rgb(29 155 240);
  font-weight: bold;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(29 155 240);
  outline: none;
  transition: all 0.3s 0;
}

.login-page-form input::placeholder {
  color: rgb(29 155 240);
}

.login-page-form input:hover {
  border: 0.2rem solid rgb(29 155 240);
  scale: 102%;
}

.login-page-form input:focus {
  border: 0.2rem solid rgb(29 155 240);
  color: rgb(29 155 240);
}

.login-page-form div:not(button) {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 2rem;
  font-size: 1.3rem;
  color: black;
  font-weight: bold;
}

.login-page-form button {
  width: 6rem;
  height: 2.5rem;
  background-color: rgb(29 155 240);
  color: white;
  border-radius: 5rem;
  outline: none;
  border: 0.1rem solid rgb(29 155 240);
  cursor: pointer;
}

.login-page-form button:hover {
  scale: 103%;
}
.login-page-checkbox {
  height: 1.8;
  border: 9rem solid black;
  border-radius: 0;
  margin-left: 1rem;
  margin-right: 0.2rem;
}

.login-page-checkbox {
  border-radius: 0;
  scale: 103%;
}

.login-page-form a {
  margin-left: 1rem;
  text-decoration: none;
  color: rgb(29 155 240);
}

/* end of login page form */

/* login page footer */
.login-page-footer {
  grid-row: 3/4;
  grid-column: 1/-1;
  background-color: rgba(114, 113, 113, 0.1);
  padding-left: 10rem;
  font-size: 1.3rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-page-footer p {
  padding-bottom: 0.5rem;
}

.login-page-footer a {
  text-decoration: none;
  color: rgb(7, 106, 172);
}

/* end of login page footer */
/* end of login page */

/* * feed page */

.feed-page {
  width: 100%;
  height: 100vh;
}

/* * feed page nav */

.feed-nav-page {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
  /* todo: keep nav bar fixed */
  position: fixed;
  /* todo box shadow */
  box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.3);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  margin-right: 2rem;
}

.icons a {
  margin: 2.5rem;
  color: #808080;
  position: relative;
}

.icons a:hover {
  scale: 108%;
}

.icons .active {
  color: rgb(29 155 240);
}

.icons a::after {
  content: "";
  width: 100%;
  height: 0.4rem;
  position: absolute;
  background-color: rgb(29 155 240);
  left: 0;
  bottom: -2rem;
  opacity: 0;
  transition: all 0.3s;
}

.icons a:hover::after {
  opacity: 1;
  scale: 120%;
}
/* ! styling searchbar in nav */
.nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 2rem;
}

.nav-searchbar input {
  width: 30rem;
  height: 2.6rem;
  border-radius: 3rem;
  border: 0.1rem solid #808080;
  background-color: #ece9ec;
  padding-left: 4rem;
  font-size: 1.2rem;
  transition: all 0.3ec;
}

.nav-searchbar input:hover {
  background-color: #fff;
  outline: none;
  scale: 103%;
  border: 0.2rem solid rgb(29 155 240);
}

.nav-searchbar input:focus {
  background-color: #fff;
  outline: none;
}

.nav-search i {
  position: absolute;
  font-size: 1.3rem;
  left: 1.5rem;
}

.nav-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-user-profile {
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid rgb(29 155 240);
  border-radius: 50%;
}

.nav-user-profile img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.nav-user a {
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}
/* * end of feed page nav */
/* * end of feed page */
